mixin post
   each post in posts
      article.body_section__post.post_section
         a(href="#").post_section__image
            img(src=`images/${post.id}.jpg`, alt=`post ${post.id}`)
         .post_section__info
            h2.post_section__title
               a(href="#").post_section__link #{post.title}
            .post_section__user
               .post_section__name #{post.name}
               .post_section__date #{post.date}
            .post_section__tags 
               each tag in post.tags
                  a(href="#").post_section__tag #{tag}
            .post_section__comments #{post.comments}